@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<!-- FEATURED REQUEST TEACHER -->
<section id="featured-request-teacher" class="featured-request-teacher section">
    <div class="awe-parallax bg-featured-request-teacher"></div>
    <div class="awe-overlay overlay-color-1"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="request-form">
                    <h2>Search Teacher</h2>
                    <form>
                        <div class="form-item">
                            <input type="text" placeholder="Course">
                        </div>
                        <div class="form-submit-1">
                            <input type="submit" value="Search" class="mc-btn btn-style-1">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END / FEATURED REQUEST TEACHER -->